.rr_top_header{
    font-family: 'Poppins';
    .logo_image_small{
        width: 180px;
    }
    .search-block{
        position: relative;
        width: 280px;
        .icon_right{
            left: unset;
            right: 0;
            position: absolute;
            z-index: 3;
            cursor: pointer;
          }
    }
    
}